@charset "UTF-8";
html {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  padding-top: 77px;
  scroll-padding-top: 77px;
}

body {
  font-size: 1.6rem;
  color: #767e9e;
}

h1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 36px;
  color: #666d89;
}

h2 {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #666d89;
}

h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 18px;
  color: #666d89;
}

p {
  color: ​ #767e9e;
  font-size: 1.8rem;
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1020px;
  margin: auto;
}
@media (max-width: 1020px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 375px) {
  .wrapper {
    padding: 0 30px;
  }
}

body {
  background-color: ​ #f2f2f2;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: #2D303A;
  color: #FFFFFF;
  border-bottom: 6px solid #323746;
}
@media (max-width: 375px) {
  .header {
    height: 71px;
  }
}

.header__wrapper {
  height: 89px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site_name_wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.site__name {
  margin: 0;
  color: #FFFFFF;
}

.star {
  color: #f06c64;
  font-size: 3rem;
  font-weight: bold;
}

.hamburger-line, .hamburger::after, .hamburger::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: #173A56;
  border-radius: 5px;
  width: 100%;
  height: 2.4px;
}

.hamburger {
  display: none;
  position: relative;
  height: 20px;
  width: 25px;
}
@media (max-width: 375px) {
  .hamburger {
    display: inline-block;
    margin-right: 103px;
    margin-left: 20px;
  }
}
.hamburger::before {
  top: 0;
  left: 0;
}
.hamburger::after {
  bottom: 0;
  left: 0;
}

.hamburger-line {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.navigation {
  padding: 15px 0 0 0;
  display: flex;
  width: 375px;
  justify-content: space-between;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: -0.035em;
  transition: all 0.3s;
}
.navigation a {
  text-decoration: none;
  color: #FFFFFF;
}
.navigation .active {
  color: #f06c64;
}
.navigation a:not(.active):hover {
  color: #f06c64;
}

.navigation :first-child {
  list-style: none;
}

@media (max-width: 375px) {
  .header__navigation {
    display: none;
  }
}

.footer {
  background-color: #2d303a;
}

.footer__wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
}

.ico-networks {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.ico-networks__link {
  padding-right: 8px;
}

.svg:hover {
  filter: inherit;
  fill: #DEDEDE;
}

.portfolio {
  background-attachment: contain;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  padding: 59px 0 0 0;
  margin: auto;
}

.portfolio__text {
  margin: 0;
  padding: 13px 0 0 0;
}

.button_portfolio {
  padding: 10px 0;
  display: flex;
}
.button_portfolio :active, .button_portfolio :hover, .button_portfolio :focus {
  outline: 0;
  outline-offset: 0;
}

.button_borderd {
  list-style: none;
  font-family: "Lato", sans-serif;
  color: #767e9e;
  border: 1px solid #767e9e;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #2d303a;
  cursor: pointer;
}

.button_borderd_active {
  list-style: none;
  color: #DEDEDE;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #2d303a;
  cursor: pointer;
}
.button_borderd_active :active, .button_borderd_active :hover, .button_borderd_active :focus {
  outline: 0;
  outline-offset: 0;
}

.button_borderd:not(.active):hover {
  color: #DEDEDE;
  border: 1px solid #DEDEDE;
}

.button_portfolio__item {
  padding: 0 10px 0 0;
}
.button_portfolio__item :active, .button_portfolio__item :hover, .button_portfolio__item :focus {
  outline: 0;
  outline-offset: 0;
}

.portfolio_images {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
}

.portfolio_images__item {
  list-style: none;
  width: auto;
  height: auto;
}

.services {
  background-color: #f2f2f2;
  border-bottom: 6px solid #FFFFFF;
}

.our-service__title {
  margin: 0;
  padding-top: 59px;
}

.our-service__text {
  margin: 0;
  line-height: 30px;
  padding-top: 12px;
  padding-bottom: 60px;
  text-align: justify;
}

.wrapper_layout__text {
  margin: 0;
  padding-left: 12px;
  line-height: 22px;
  text-align: justify;
  overflow: hidden;
}

.layout__name {
  margin: 0;
  padding-bottom: 7px;
}

.layout__description {
  margin: 0;
  font-size: 1.2rem;
  text-align: justify;
  max-height: 72px;
  overflow: hidden;
}

.layout-2-span-3-column__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-bottom: 46px;
}

.wrapper_layout {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#home {
  background: #f06c64;
}

.slider {
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
  margin-bottom: -4px;
  overflow: hidden;
}

.slider-line {
  display: flex;
  align-items: flex-end;
  transition: all ease 0.5s;
}

.btn-container {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  opacity: 0.5;
}

.btn {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 3px solid #DEDEDE;
  transition: all ease 0.5s;
}

#left {
  background-image: url("../img/svg/slider-arows/arrow-left.svg");
}

#right {
  background-image: url("../img/svg/slider-arows/arrow-right.svg");
}

/*# sourceMappingURL=style.css.map */
