// Styles for Slider-block
#home {
//   padding-top: 77px;
  scroll-padding-top: 77px;
}

.slider-container {
  background: $color-bg-slider1;
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
  margin-bottom: -4px; // Обрезал контейнер - т.к. картинки - не одинаковые по высоте
  overflow: hidden;
}

.slider-line {
  display: flex;
  align-items: flex-end;
  transition: all ease .5s;
}

// Styles for control-buttons

.btn-container {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 100%;
  opacity: 0.5;
  background: rgba(0, 0, 0, .5);
}

.btn {
  height: 30px;
  width: 90px;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn:not(.active):hover {
  height: 30px;
  width: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background: $color-primary;
}

#left {
  background-image: url('../img/svg/slider-arows/arrow-left.svg');
}

#right {
  background-image: url('../img/svg/slider-arows/arrow-right.svg');
}
