// Styles for Slider-block
#slider {
  padding-top: 95px;
}

.slider-container {
  width: 1020px;

  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.carousel-slides {
  max-width: 100%;
  position: relative;

  left: 0;
  top: 0;
}

.slide {
  max-width: 1020px;

  position: absolute;
  top: 0;
}


// Styles for control-buttons

.slider__control {
  position: absolute;
  display: inline-flex;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 20px;
  opacity: 0.5;
  background: rgba(0, 0, 0, .5);
}

.slider__control:hover,
.slider__control:focus {
  height: 50px;
  width: 30px;
  transition: transform .5s;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 5%;
}

.slider__control_right {
  right: 5%;
}


.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url('../img/svg/slider-arows/arrow-left.svg');
}

.slider__control_right::before {
  background-image: url('../img/svg/slider-arows/arrow-right.svg');
}
