.footer {
    background-color: $color-bg-portfolio;
}

.footer__wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;

    @include media-mobile {
        justify-content: center;

    }
}

.ico-networks {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.ico-networks__link {
    padding-right: 8px;
}

.svg:hover {
    filter: inherit;
    fill: $color-border-hover;
}

.copyright {
    @include media-mobile {
        display: none;
    }
}
